

/*.slick-slider {
	display: inline-block;
}*/

/*.slick-slider {
	width: 100%;
}*/

#container {
	width: 100%;
}

a  {
	outline: none;
}

.mfp-fade.mfp-bg {
	opacity: 0;
	-webkit-transition: all 0.15s ease-out; 
	-moz-transition: all 0.15s ease-out; 
	transition: all 0.15s ease-out;
}

.mfp-fade.mfp-bg.mfp-ready {
	opacity: 0.8;
}

body {
	font-family: 'Source Sans Pro', sans-serif;
}

h2 {
	font-weight: 300;
	font-size: 34px;
	line-height: 125%;
	padding-bottom: 10px;
	letter-spacing: 1.5px;
}

.fiftyyears h2 {
	color: rgb(194,31,60);
}

.textsection {
	color: rgb(88,89,91);
	font-size: 16px;
	font-weight: 600;
	line-height: 150%;
	padding: 35px 15px 35px 55px;
	margin: 0 auto;
}

.icon {
	display: inline-block;
	width: 15%;
	vertical-align: middle;
	padding-left:2%;
	padding-right: 3%;
}

.fiftyyears, .staff, .drr, .social {
	display:inline-block;
	width: 65%;
	vertical-align: middle;
}

.staff h2{
	color: rgb(232,149,0);
}

.drr h2{
	color: rgb(22,176,193);
}

.socialnav img {
	display: inline-block;
	width: 10%;
	vertical-align: middle;
	padding-left:1%;
	margin: 0 auto;
}

.socialnav{
	text-align: center;
}

footer { 
	padding: 35px 0px;
	text-align: center;
}

footer h2 {
	font-weight: 700;
	font-size: 22px;
	color: rgb(34,50,104);
}




